/* da fonts*****gotta be on brand always*****************************************************/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/**********************************************************************/
* {
    box-sizing: border-box;

    --padding: .3rem;
    --currentWeather: 15vh;
    --compass: 10em;
    --futureIcon: 15vh;
    --border: 1em;
    --paddingtop: 1.5em;
    --modalForm: 5em;

    --locationSize: 2rem;

    --CurrentTemp: 4rem;
    --pSize: .8rem;
    --windinfo: 1.2rem;
    --futuretemp: 2rem;
    --compassDegree: 45deg;

    --locationwidth: 7em;
    --locationTopPadding: 10em;
    --modelTopPlacement: 35em;
    --modalLeftPlacement: 10vw;
    --locationpaddingleft: 2em;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FCF2F4;
    font-family: "Quattrocento Sans", sans-serif;
    z-index: 1;

}


main {

    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 10vh 30vh 30vh 28vh 10vh 20vh;
    grid-template-areas:
        '.  location  .'
        'currentweathericon  currentweatherinfo  currentweatherinfo'
        'windinfo  compass  compass'
        /*this is so scary to me*/
        'futureinfo  futureinfo  futureinfo'
        '. button . '
        /*IM SO HAPPY I FIGURED IT OUT*/
        'credit credit credit';
    /*IM SO HAPPY I FIGURED IT OUT*/

}

p {
    color: #218371;
    font-size: var(--pSize);
}

a {
    color: #218371;
}

a:hover {
    color: #4D8C63;
}

#location {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: location;
    font-family: "Limelight", sans-serif;
    background-color: #FCF2F4;
    color: #0F594C;
    font-size: var(--locationSize);
}

#findLocation {
    position: absolute;
    z-index: 10;
    background-color: #D97E96;

}

.block {
    background-color: #EFDBDD;
    border: solid .3em #FCF2F4;
    border-radius: 1em;
}

/* Section 1: current info*****************************************************/

#currentweathericon {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: currentweathericon;

}

#currentweathericon img {
    width: var(--currentWeather);
    height: var(--currentWeather);
}

#currentweatherinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;

    grid-area: currentweatherinfo;
    text-align: center;
    color: #218371;

}

#currentweatherinfo .currentTemp {
    font-family: "Limelight", sans-serif;
    /*current no longer looks like a real word to me*/
    font-size: var(--CurrentTemp);
    color: #0F594C;

}

/* Section 2: Wind + Humidity*****************************************************/
#windinfo {
    padding: var(--padding);
    grid-area: windinfo;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#windinfo div {
    color: #0F594C;
    font-family: "Limelight", sans-serif;
    font-size: var(--windinfo);
}

#compass {
    grid-area: compass;
    display: flex;
    align-items: center;
    justify-content: center;

}

#compassimg {
    width: var(--compass);
    height: var(--compass);
    transform: rotate(var(--compassDegree));
    /*the goal is to make this rotate with the degrees of the wind*/
}

/* Section 3: Future info*****************************************************/
#predictions {
    display: flex;
    /*i feel like there is an easier way of adding flex direction but when i add it to main everything breaks*/
    overflow: auto;
    overflow-y: hidden;

    grid-area: futureinfo;
    position: absolute;
    width: 100%;
    height: 100%;

    /*NO SCROLL BARS on mobile at least*/
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.futureDay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 45%;
    height: 100%;
    background-color: #EFDBDD;
    padding: var(--padding);

}

.futureDay div {
    color: #0F594C;
}

.futuretemp {
    font-family: "Limelight", sans-serif;
    font-size: var(--futuretemp);
}


#futureIcon {
    padding-top: 2em;
    width: var(--futureIcon);
    height: var(--futureIcon);
}

#credit {
    grid-area: credit;
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    padding: .5em;
}

/* Section 3: Modalolal*****************************************************/
#modalCover {
    position: fixed;
    /*   display:none; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(252, 242, 244, 0.5);
    backdrop-filter: blur(2px);
    z-index: 10;
}

#modalForm {
    position: fixed;
    /*   display:none; */
    top: 10em;
    left: var(--modalLeftPlacement);
    width: 80vw;
    height: 60vh;
    text-align: center;
    background-color: #EFDBDD;
    border: solid #EFDBDD;
    border-radius: 1em;
    color: #0F594C;
    z-index: 11;
}

body.showModal #modalCover,
body.showModal #modalForm {
    display: block;
}

#locationForm {
    padding: 1em;
    padding-top: var(--locationTopPadding);
}

input[type=text] {
    background-color: #FCF2F4;
    border: solid, 1px, #D97E96;
    color: #D97E96;
    border-radius: 10px;
    width: 90%;
    padding: 1em;
}

button[type=submit] {
    padding: 1em;
    background-color: #D97E96;
    border: solid, 1px, #D97E96;
    border-radius: 10px;
    color: #FCF2F4;
}

 #findLocation {
    position: absolute;
    background-color: #D97E96;
    width: 4em;
    height: 3em;
    border: solid, 1px, #EFDBDD;
    border-radius: 10px;
}


/* Section 4: responsive for desktop*****************************************************/
@media only screen and (orientation: landscape) {
    * {
        --compass: 20vh;
        --futureIcon: 20vh;
        --border: 3em;
        --paddingtop: 1.5em;

        /*form*********************/
        --modalLeftPlacement: 10em;
        --locationTopPadding: 15em;
        --locationpaddingleft: 25vw;
        --locationwidth: 10em;

        /*font sizes*********************/
        --locationSize: 4rem;
        --CurrentTemp: 8rem;
        --pSize: 1.5rem;
        --windinfo: 2rem;
        --futuretemp: 4rem;

    }

    main {
        grid-template-rows: 10vh 30vh 30vh 29vh 15vh;
    }


}