* {
    box-sizing: border-box;

}
body{
    background-color: #FCF2F4;
}

header {
    background-color: #EFDBDD;

}

div{
    width: 40vh;
    height: 60vh;
    float: left;
}

h1 {
    font-size: 4rem;
    color: #D97E96;
}