/* da fonts**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/**********************************************************************/
* {
    box-sizing: border-box;

}
header {
    background-color: #0F594C;
    box-shadow: 0 0 1em #0F594C;
}

body{
    background-color: #FCF2F4;
}

h1 {
    font-family: "Limelight", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #EFDBDD; 
}

h2 {
    font-family: "Limelight", sans-serif;
    font-size: 2rem;
    color: #218371;
}


div{
    width: 30%;
    height: 100%;
    float: left;
}

a{
    padding: .5em;
    border: solid 1px #4D8C63;
    border-radius: 1em;
    background-color:#B8D9C0;
    color: #4D8C63; 
    font-size: 1.5rem; 
    width: 20%;
    text-decoration: none;
    font-family: "Quattrocento Sans", sans-serif;
}
p{
    font-family: "Quattrocento Sans", sans-serif;
    color: #0F594C ;
}

/*Coursework div ****************************************************************************/

.coursework section{
    background-color:#EFDBDD;
    height: 149vh;
    border: solid 1em #FCF2F4;
    border-radius: 2em;
    display: flex;
    flex-direction:column; /*this line took so long to find*/
    align-items: center;
    line-height: 10%;
}

.coursework section ul {
    padding: .1em;
    color: #4D8C63; 
    font-size: 1.5rem; 
    text-align: center;
    width: 60%;
    list-style-position: inside;
}

.coursework section ul li{
    border: solid 1px #4D8C63;
    border-radius: 1em;
    background-color:#B8D9C0;
    margin: 1em;
    padding: 1em;
}
.coursework section p{
    font-size: 1.5rem;
    color: #0F594C;
}

/*Questions div ****************************************************************************/

.quesitons{ 
    width: 70%;
    height: 100%;
    background-color:#FCF2F4;
}

.quesitons section{
    float: left;
    text-align: center;
    width: 50%;
    height: 30%;
    padding: 1em;
    border: solid 1em #FCF2F4;
    border-radius: 2em;
    background-color:#EFDBDD;
}

.quesitons a{
    font-size: 1em;
}

div #coolpic{
    width: 100%;
    height: 90vh;

}

img{
    display: flex; 
    justify-content: center; 
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 0 1em #D97E96;
}
