* {
    box-sizing: border-box;

}
header {
    padding: 10px;
    background-color: #EFDBDD;
    box-shadow: 0 0 1em #EFDBDD;
}

body{
    background-color: #FCF2F4;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #D43468; 
}

h2 {
    font-size: 2rem;
    color: #0F594C;
}


div{
    width: 30%;
    height: 100%;
    float: left;
}

/*Coursework div ****************************************************************************/

.coursework section{
    background-color:#EFDBDD;

}



/*Questions div ****************************************************************************/

.quesitons{ 
    width: 70%;
    height: 100%;
    background-color:#FCF2F4;


}

.quesitons section{
    float: left;
    text-align: center;
    width: 50%;
    height: 30%;
    padding: 1em;
    border: solid 10px #FCF2F4;
    border-radius: 1em;
    background-color:#B8D9C0;
}

div #coolpic{
    width: 100%;
    height: 90vh;

}

img{
    display: flex; 
    justify-content: center; 
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 0 1em #4D8C63;
}
