/* da fonts**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/**********************************************************************/

/* responsive**********************************************************/
@media only screen and (orientation: landscape){ 
:root{
    --gameboard: 50vh;
    --background: 70vh;
    --currentPlayerFont: 2rem;
    --currentPlayerBackground: 10em; 
}

}

@media only screen and (orientation: portrait){
    :root{
    --gameboard: 50vh;
    --background: 95vw;

    --currentPlayerFont: 1.5rem;
    --currentPlayerBackground: 15em; 
}



}
/********************************************************************/

/*Player info**********************************************************/
#currentPlayer{
display: flex;
align-items: center;
justify-content: center;
background-color: #FCF2F4;
width: var(--currentPlayerBackground);
height: 6vh;

font-family: "Limelight", sans-serif;
font-size: var( --currentPlayerFont);
color:#0F594C;

}

#gameResult{
/*display: none;*/
position: absolute;
top:40%;
left:23%;
z-index: 1; 

text-align: center;
background-color: #EFDBDD;
width: var(--currentPlayerBackground);
height: 6vh;

font-family: "Limelight", sans-serif;
font-size: var( --currentPlayerFont);
color:#0F594C;
transition: 1s;

}
/********************************************************************/

/* the game**********************************************************/

body{
    background-color:#EFDBDD;
    
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: "Limelight", sans-serif;
    color:#0F594C;
    text-align: center;
    font-size: 3rem;
}

.game-background{
    width:var(--background);
    height:var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF2F4;
}

.game{
    position: relative;
    width: var(--gameboard);
    height: var(--gameboard);
    background-color: #D97E96;

    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

}

.square{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: #FCF2F4;
    font-family: "Limelight", sans-serif;
    font-size: 10rem;
    color:#218371;
    overflow: hidden;
    transition: background-color 0.2s ease;

}

.square:hover{
    background-color: #EFDBDD;
    
}
.square.clicked:hover{
    background-color: #FCF2F4;
    
}
/*game over**********************************************************/