@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
/**********Modal**************************************************************/
*{
    box-sizing:border-box;
    /****nav***************/
    --navLogoSize: 3em;

    /****Main Search***************/
    --buttonHeight: 2em;
    --buttonWidth: 10em;
    --mainButtonFont: .7rem;
    --headerSize: 1.5rem;

    /**** Art information***************/
    --artistName: .7rem;
    --apiimg: 45vw;
    --artPeice: 1rem;
    --date: .7rem;
    --description:.5rem;
    --formfontsize: 1rem;

    /**** Art information***************/
    --inputwidth: 75vw;
    --randomartimg: 20em;
    --randomartexitplacement: 90%;
    
}

#searchModalForm{
display: none;
}

/**********Navigation**************************************************************/
body{
    background-color:#7E746D;
}
nav{
    display:flex;
    font-family: "Baskervville SC", serif;
    color: #fff;
    width:100%
}
.nav{
    width:100%;
}
#navlogo{
    width: var(--navLogoSize);
    height: var(--navLogoSize);
}
.navHeader{
    display: flex;
    font-size: var(--headerSize);
    justify-content:center;

}
.navBar{
    display: flex;
    justify-content: space-around;
}

.navButton{
    background: none;
    border: none;
    font-family: "Baskervville SC", serif;
    font-size: var(--navbuttonsize);
    color: #fff;

}
/**********Avanced Search Modal**************************************************************/
#modalCover{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:99;
    
}

#searchModal{
    display: none;
    position: fixed;
    top: 10%;
    left:10%;
    width: 80%;
    height: 80%;
    background-color: #C4C4C4;
    z-index: 100;
    flex-direction: column;
    align-items:center;
}

body.showsearchModal #searchModal{
    display:flex;
}
.modalform{
    font-family: "Baskervville SC", serif;
    color: #7E746D;
    font-size: var(--formfontsize);
    width: var(--inputwidth);
}

.advancedsearchexit{
    position: absolute;
    left: 93%;
    top: .5vw;
    background: none;
    border: none;
    font-family: "Baskervville SC", serif;
    color: #7E746D;
}


h1{
    font-family: "Baskervville SC", serif;
    color: #7E746D;
    font-size: var(--headerSize);
}
h2{
    font-family: "Baskervville SC", serif;
    color: #7E746D;
    font-size: var(--headerSize);
    line-height: .1em;
}

/**********Random Art Modal**************************************************************/


body.showartModal #randomArtModal{
    display:flex;
}

#randomArtModal{
    display: none;
    position: fixed;
    top: 10%;
    left:10%;
    width: 80%;
    height: 80%;
    background-color: #C4C4C4;
    z-index: 100;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.randomart{
    padding:1em;
}

.randartexit{
    position: absolute;
    left: var(--randomartexitplacement);
    font-size: 2rem;
    top: .5vw;
    background: none;
    border: none;
    font-family: "Baskervville SC", serif;
    color: #7E746D;
}

.apiimg img{
    max-height: var(--randomartimg);
    max-width: auto;
    object-fit: contain;
}

/**********Search**************************************************************/

header{
    border: 5px solid #7E746D;
}
.backgroundImg{
    height: 70vh;
    background-image: url(https://media.timeout.com/images/102850781/image.jpg);
    background-position: center;
    background-size: 200vw;
    filter: blur(2px);    
}
.searchblock{
    display:flex;
    justify-content: center;
}

.searchMain{
    position: absolute;
    top: 35%;
    width: 75vw;
    right: 12.5%;
}

.headerbuttons{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    position: absolute;
    top: 40vh;
}

.mainButton{
    height: var(--buttonHeight);
    width: var(--buttonWidth);
    font-size:var(--mainButtonFont);
}

.mainButton{
    font-family: "Baskervville SC", serif;
    color: #fff;
    background-color: #B50938;
    padding:.3em;
    border: 5px;
    border-radius: 3px;
}

/**********Art**************************************************************/
main{
    display: flex;
    align-items:center;
    justify-content: center;
    z-index:1;
}
.artResults{
    padding-top: .5em;
    display: grid;
    grid-template-columns: 45vw 45vw;
    gap: 3vw;
    font-family: "Baskervville SC", serif;
}


.apiimg{
    width: var(--apiimg);
}

.artCard{
    color:#fff;
}

.artistName{
    font-size: var(--artistName);
}
.artPeice{
    font-size: var(--artPeice);
}

.date{
    font-size:var(--date);
}

.description{
    font-size: var(--description);
}

@media only screen and (orientation: landscape) {
*{
    /****nav***************/
    --navLogoSize: 5em;
    --headerSize: 2.5rem;
    --navbuttonsize: 1.5rem;

    /****Main Search***************/
    --buttonHeight: 3em;
    --buttonWidth: 15em;
    --mainButtonFont: 1rem;

    /**** Art information***************/
    --artistName: 1.7rem;
    --apiimg: 23vw;
    --artPeice: 2rem;
    --date: 1.7rem;
    --description:1.5rem;
    --formfontsize: 1rem;

    /**** Art information***************/
    --inputwidth: 75vw;
    --randomartimg: 30em;
    --randomartexitplacement: 97%;


    
}
.advancedsearchexit{
    left: 97%;
    font-size:2rem;
}    


input[type=text]{
    height: 2em;
    font-size: 1.5rem;
}

.artResults{
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    gap: 2vw;
}

h2{
    font-size: 1.5rem;
}
}