/* da fonts**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/**********************************************************************/
@media only screen and (orientation: landscape){ /*trying to be fancy when i know damn well i dont have time for this*/
    #background{
    width:var(--laptopbackground);
    height: var(--laptopbackground);
    }
}

@media only screen and (orientation: portrait){
    #background{
        width:var(--phonebackground);
        height: var(--phonebackground);
    }
}
:root{
    --gameboard: 60vh;
    --phonebackground: 95%;
    --laptopbackground: 90vh;
}
body{
    background-color:#EFDBDD;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-family: "Limelight", sans-serif;
    color:#0F594C;
    text-align: center;
    font-size: 3rem;
}

#background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF2F4;
}

#game{
    position: relative;
    width: var(--gameboard);
    height: var(--gameboard);
    background-color: #D97E96;

    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

}

#square{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background-color: #FCF2F4;
    font-family: "Limelight", sans-serif;
    font-size: 10rem;
    color:#218371;
    overflow: hidden;
}

