:root{
    --cardSize: 250px;
}

.card{
    position: relative;
    width: var(--cardSize);
    height: var(--cardSize);
    perspective: 600px; /*spooky*/

}

.cardContent{
position: absolute;
width: 100%;
height: 100%;
background-color: #D97E96;
color: #0F594C;
transition: transform 0.5s;
transform-style: preserve-3d;
}

.cardTop,
.cardBottom{
    position: absolute;
    background-color: #4D8C63;
    color:white;
    width: 100%;
    height: 100%;

}
.card:hover .cardContent{
    transform: rotate3d(180deg);
}

.gameboard{
    position: absolute;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 100%

}