:root{
    --cardSize: 250px;
}

.card{
    position: relative;
    width: var(--cardSize);
    height: var(--cardSize);
    perspective: 600px; /*spooky*/

}

.cardContent{
position: absolute;
width: 100%;
height: 100%;
transition: transform
}