*{
box-sizing: border-box;
}

:root{
    --cardSize: 250px;
}

main{
    display: flex;
    justify-content:center;
    align-items: center;
}

.background{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 70%;
    height: 70vh;
    background-color:#FCF2F4;
}

.gameboard{
    position: absolute;
    display:grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5em;

}

.card{
    position: relative;
    width: var(--cardSize);
    height: var(--cardSize);
    perspective: 600px; /*spooky*/

}

.cardContent{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}


.cardfront,
.cardback{
    position: absolute;
    background-color: #4D8C63;
    color:white;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cardfront{
    background-color: #D97E96;
}

.cardback{
    background-color:#0F594C;
    transform: rotateY(180deg);
}
.card:hover .cardContent{
    transform: rotateY(180deg);
}

