/* da fonts*****gotta be on brand always*****************************************************/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/**********************************************************************/
*{
    box-sizing:border-box;

}

body{
    padding: 0;
    margin: 0;
    font-family: "Quattrocento Sans", sans-serif;

    display: flex;

    
}

main{

    background-color:#EFDBDD;
    position: relative;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 34vw 33vw 3vw;
    grid-template-rows: 10vh 30vh 30vh 30vh;
    grid-template-areas:
        'location  location  location'
        'currentweathericon  currentweathericon  currentweatherinfo'
        'windinfo  compass  compass'  /*this is so scary to me*/
        'futureinfo  futureinfo  futureinfo'; /*IM SO HAPPY I FIGURED IT OUT*/
}

#location{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: location;
    font-family: "Limelight", sans-serif;
    background-color:#FCF2F4;
    color:#D97E96;
    font-size: 2rem;
}

p{
    color:#218371;
    font-size:1rem;
}
/* Section 1: current info*****************************************************/

#currentweathericon{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: currentweathericon;
    background-color: #EFDBDD;

}

#currentweatherinfo{
    display: flex;
    justify-content: center;
    flex-direction:column; 

    grid-area: currentweatherinfo;
    background-color: #EFDBDD;
    text-align: center;
    font-size: 2rem;
    color: #218371;
}

#currentweatherinfo .currentTemp{
    font-family: "Limelight", sans-serif; /*current no longer looks like a real word to me*/
    font-size: 5rem;
    color: #0F594C;
}

/* Section 2: Wind + Humidity*****************************************************/
#windinfo{
    padding: .3em;
    grid-area: windinfo;
    display: flex;
    flex-direction:column; 
    justify-content: center;

}
#windinfo div{
    color:#0F594C;
    font-family: "Limelight", sans-serif;
    font-size: 1.2rem;
}

#compass{
    grid-area: compass;
}

/* Section 3: Future info*****************************************************/
#predictions{
    display: flex; /*i feel like there is an easier way of adding flex direction but when i add it to main everything breaks*/
    justify-content: center;
    align-items: center;

    grid-area: futureinfo;
    width: 90vw;

}
