/* da fonts*****gotta be on brand always*****************************************************/
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/**********************************************************************/
*{
    box-sizing:border-box;

}

body{
    padding: 0;
    margin: 0;
    background-color:#FCF2F4;
    font-family: "Quattrocento Sans", sans-serif;

}

main{

    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 10vh 35vh 30vh 25vh;
    grid-template-areas:
        'location  location  location'
        'currentweathericon  currentweathericon  currentweatherinfo'
        'windinfo  compass  compass'  /*this is so scary to me*/
        'futureinfo  futureinfo  futureinfo'; /*IM SO HAPPY I FIGURED IT OUT*/
}
 
p{
    color:#218371;
    font-size: .8rem;
}

a{
    color:#218371;
}

a:hover{
    color: #4D8C63;
}

#location{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: location;
    font-family: "Limelight", sans-serif;
    background-color:#FCF2F4;
    color:#D97E96;
    font-size: 2rem;
}


/* Section 1: current info*****************************************************/
.block{
    background-color:#EFDBDD;
    border: solid .3em #FCF2F4;
    border-radius: 1em;
}

#currentweathericon{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: currentweathericon;

}

#currentweathericon img{
    width: 50vh;
    height: 50vh;
}

#currentweatherinfo{
    display: flex;
    justify-content: center;
    flex-direction:column; 

    grid-area: currentweatherinfo;
    text-align: center;
    font-size: 1rem;
    color: #218371;

}

#currentweatherinfo .currentTemp{
    font-family: "Limelight", sans-serif; /*current no longer looks like a real word to me*/
    font-size: 5rem;
    color: #0F594C;

}

/* Section 2: Wind + Humidity*****************************************************/
#windinfo{
    padding: .3em;
    grid-area: windinfo;
    display: flex;
    flex-direction:column; 
    justify-content: center;

}
#windinfo div{
    color:#0F594C;
    font-family: "Limelight", sans-serif;
    font-size: 1.2rem;
}

#compass{
    grid-area: compass;

    display: flex;
    align-items: center;
    justify-content: center;
 
}

#compassimg{
    width:10em;
    height: 10em;
    transform: rotate(45deg); /*the goal is to make this rotate with the degrees of the wind*/
}

/* Section 3: Future info*****************************************************/
#predictions{
    display: flex; /*i feel like there is an easier way of adding flex direction but when i add it to main everything breaks*/
    justify-content: center;
    align-items: center;

    grid-area: futureinfo;
    width: 100%;
    height: 100%;


}
.futureDay{
    display: flex;
    flex-direction:column; 
    justify-content: flex-end;
    align-items: center;

    width:45%;
    background-color: #EFDBDD;
    padding:.3em;

}
.futureDay div{
    color:#0F594C
}

.futuretemp{
    font-family: "Limelight", sans-serif;
    font-size: 2rem;
}
#credit{
    display: flex;
    flex-direction:column;

    position:absolute;
    width:100%;
    top:100%;
    padding:.5em;
}

#futureIcon{
    padding-top:.5em;
    justify-content: flex-start;
    width:7em;
    height:7em;
}